<div class="dlg">

  <div class="dlg-header">
    <mat-icon>delete</mat-icon>
    <h2>Delete employee</h2>
  </div>

  <div class="dlg-content">
    <p>
      Are you sure you want to delete
      <strong>{{ data.username }}</strong>?
    </p>
  </div>

  <div class="dlg-actions">
    <button mat-button class="cancel-btn" (click)="close(false)">
      No
    </button>

    <button mat-raised-button color="primary" class="confirm-btn" (click)="close(true)">
      Yes
    </button>
  </div>

</div>