.users-wrapper {
  padding: 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.full-table {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th.mat-header-cell {
  font-weight: 600;
  background: #f3f4f6;
}

td.mat-cell, th.mat-header-cell {
  padding: 14px;
}

.center {
  text-align: center;
}

mat-icon {
  font-size: 22px;
}

.role-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.full-table .mat-mdc-row:hover {
  background-color: #f2f2f2 !important;
  transition: background-color 0.2s ease;
}

button.edit-btn mat-icon {
  color: #F97316 !important;
}

button.delete-btn mat-icon {
  color: #F97316 !important;
}

button.edit-btn:hover mat-icon,
button.delete-btn:hover mat-icon {
  color: #C2410C !important;
}

:host ::ng-deep td.mat-mdc-cell.username-cell {
  color: #000000 !important;
  font-weight: 550;
}

:host ::ng-deep th.mat-mdc-header-cell {
  background-color: #fefaf7 !important;
  color: #555 !important;             
  font-weight: 500;
}
