<div class="map-container">
  <div id="moderatorMap" class="map"></div>

  <div class="map-legend">
    <div class="legend-item">
      <span class="material-icons legend-pin" style="color: green;">location_on</span>
      Approved
    </div>
    <div class="legend-item">
      <span class="material-icons legend-pin" style="color: red;">location_on</span>
      Rejected
    </div>
    <div class="legend-item">
      <span class="material-icons legend-pin" style="color: #9c27b0;">location_on</span>
      Duplicate
    </div>
    <div class="legend-item">
      <span class="material-icons legend-pin" style="color: blue;">location_on</span>
      Resolved
    </div>
    <div class="legend-item">
      <span class="material-icons legend-pin" style="color: gray;">location_on</span>
      Canceled
    </div>
    <div class="legend-item">
      <span class="material-icons legend-pin" style="color: #e67e22;">location_on</span>
      Pending
    </div>
  </div>
</div>