spring:
  application:
    name: auth-service

server:
  port: 8083

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

user-service:
  url: http://localhost:8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true