<div class="admin-layout">
  <aside class="sidebar">
    <div class="brand">
      <img src="assets/logo.png" alt="Incidents" class="brand-logo">
      <div class="brand-name">IncidentTracker</div>
      <div class="brand-tagline">Anonymous. Secure. Effective.</div>
    </div>

    <nav class="menu">
      <a *ngIf="!isLoggedIn || (userRole !== Role.ADMIN && userRole !== Role.MODERATOR)" routerLink="report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>report_problem</mat-icon>
        <span>Report incident</span>
      </a>
      <a *ngIf="!isLoggedIn || (userRole !== Role.ADMIN && userRole !== Role.MODERATOR)" routerLink="map" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>map</mat-icon>
        <span>Incident map</span>
      </a>
      <a *ngIf="isLoggedIn && userRole === Role.USER" routerLink="my-incidents" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>list</mat-icon>
        <span>My incidents</span>
      </a>
      <a *ngIf="isLoggedIn && userRole === Role.USER" routerLink="edit-profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>manage_accounts</mat-icon>
        <span>Edit profile</span>
      </a>
      <a *ngIf="isLoggedIn && userRole === Role.MODERATOR" 
        routerLink="moderator-map" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>check_circle</mat-icon>
        <span>Approve incidents</span>
      </a>
      <a *ngIf="isLoggedIn && userRole === Role.ADMIN"
        routerLink="users"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>group</mat-icon>
        <span>Employees</span>
      </a>
    </nav>
    <div class="bottom" *ngIf="isLoggedIn">
      <a (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        Logout
      </a>
    </div>
  </aside>

  <main class="content">
    <header class="topbar">
      <div class="dashboard-title">
        {{ getRolePrefix() }} - {{ pageTitle }}
      </div>
      <div class="spacer"></div>
          <img
            *ngIf="isLoggedIn"
            class="role-icon"
            [src]="userRole === Role.USER ? 'assets/user.png' : 'assets/admin.png'"
            alt="role icon"
          />
        <ng-container *ngIf="!isLoggedIn">
          <button mat-raised-button class="login-outline-button" routerLink="/login">
            Login
          </button>
          <button mat-raised-button class="register-button" routerLink="/register">
            Register
          </button>
        </ng-container>
    </header>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>