<div class="map-container">

  <div class="filter-container">
    <mat-form-field appearance="outline" class="filter-field">
      <mat-icon matPrefix>category</mat-icon>
      <mat-select [(ngModel)]="selectedType" (selectionChange)="applyFilters()" placeholder="Incident Type">
        <mat-option *ngFor="let type of incidentTypes" [value]="type">
          {{ type }}
        </mat-option>
        <mat-option value="">All types</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-field">
      <mat-icon matPrefix>label</mat-icon>
      <mat-select [(ngModel)]="selectedSubtype" (selectionChange)="applyFilters()" placeholder="Incident Subtype">
        <mat-option *ngFor="let sub of availableSubtypes" [value]="sub">
          {{ sub }}
        </mat-option>
        <mat-option value="">All subtypes</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-field">
      <mat-icon matPrefix>place</mat-icon>
      <input 
        matInput 
        [(ngModel)]="locationFilter" 
        placeholder="Enter location"
        (ngModelChange)="applyFilters()" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="filter-field">
      <mat-icon matPrefix>calendar_month</mat-icon>
      <mat-select [(ngModel)]="selectedPeriod" (selectionChange)="applyFilters()" placeholder="Time Period">
        <mat-option value="24h">Last 24 hours</mat-option>
        <mat-option value="7d">Last 7 days</mat-option>
        <mat-option value="31d">Last 31 days</mat-option>
        <mat-option value="all">All reports</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div id="incidentMap" class="map"></div>
</div>