spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
      routes:
        - id: incident-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/incidents/**
        - id: incident-uploads
          uri: http://localhost:8081
          predicates:
            - Path=/uploads/**
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/users/**
        - id: auth-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/auth/**
server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true