.report-container {
  padding: 12px; 
  display: flex;
  flex-direction: column;
}

.report-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#map {
  width: 100%;
  height: 650px;           
  border: 2px solid #F97316;
  border-radius: 8px;
}
