spring:
  application:
    name: incident-service
  config:
    import: "configserver:http://config-server:8888/"

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always